/* FONTS */

@font-face {
  font-family: "Red Hat Mono";
  src: url(/fonts/RedHatMono-Regular.woff2);
}

@font-face {
  font-family: "VCR Mono";
  src: url(/fonts/VCR_OSD_MONO.woff2);
}

/* COLORS */
:root {
  --navbar-color: #ffadff;
  --black: #000;
  --main-color: #4558ff;
  --footer-color: #e97724;
  --menu-color: #defa77;
}

/* FONT-SIZES */
:root {
  --h1: 42px;
  --h2: 36px;
  --link: 24px;
  --p: 18px;
  --p-small: 14px;
}
