@media screen and (min-width: 700px) {
  .social-page {
    height: 100vh;
  }
  .socials {
    width: 50%;
    height: 70%;
  }
  .social-page {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .navbar {
    display: flex;
    position: absolute;
    transition: transform 2s;
  }
  .navbar-open {
    transform: translateX(0);
  }
  .menu-slide {
    height: 100vh;
    width: 200px;
    transition: none;
  }
  .nav-items {
    padding: 2rem;
  }
  .hamburger-menu {
    display: none;
  }
  .menu-desktop {
    background-color: var(--menu-color);
    height: 100vh;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .menu-desktop p {
    position: relative;
  }
  .open-desktop {
  }
  .move-down:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 400px) {
  .game {
    display: none;
  }
}
