@media screen and (min-width: 700px) {
  .navbar {
    display: flex;
    position: absolute;
    transition: transform 2s;
  }
  .navbar-open {
    transform: translateX(0);
  }
  .menu-slide {
    height: 100vh;
    width: 200px;
    transition: none;
  }
  .nav-items {
    padding: 2rem;
  }
  .nav-eye {
    margin-top: 2rem;
  }
  .nav-item:first-child {
    text-align: end;
  }
  .hamburger-menu {
    display: none;
  }
  .menu-desktop {
    background-color: var(--menu-color);
    height: 100vh;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .menu-desktop p {
    position: relative;
    transform: rotate(-90deg);
    font-family: "Red Hat Mono";
  }
  .open-desktop {
  }
  .move-down:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 400px) {
  .game {
    display: none;
  }
}
