* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MENU */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 1rem;
  background-color: lightgray;
}
.bar {
  width: 20px;
  height: 2px;
  background-color: black;
}
.menu-slide {
  transform: translateY(-100%);
  transition: transform 0.2s;
  background-color: lightgray;
  padding: 4rem 1rem;
  display: none;
}

.open {
  transform: translateY(0);
  display: block;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-direction: row;
}

.nav-items a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

/* TEXT-ROLLER  */
.roller {
  overflow: hidden;
  position: relative;
  background-color: #222;
  color: #fff;
  white-space: nowrap;
  height: 2rem;
  display: flex;
  align-items: center;
}

.roller p {
  transform: translateX(100%);
  animation: text-roller 15s linear infinite;
}

@keyframes text-roller {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* WELCOME PAGE  */

.welcome-page {
  height: 85vh;
  background-color: white;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.hero {
  height: 40%;
  width: 65%;
  background-color: lightgray;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.welcome-text {
  font-size: 36px;
  text-align: center;
  margin-bottom: 2rem;
}
.welcome-page p {
  padding: 2rem;
}
.move-down {
  background: none;
  border: none;
}

/* ABOUT */
.about {
  height: 100vh;
  background-color: lightgray;
}
.mobile-eyes {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.about-box {
  padding: 3rem 1rem;
  margin: 2rem 1rem;
  background-color: rgb(161, 161, 161);
}
.link-to-lab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.link-to-lab a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 1rem 0;
  width: 55%;
  text-align: center;
}
