/* WELCOME PAGE  */

.welcome-page {
  height: 755px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.splash-container {
  position: relative;
  text-align: center;
}

.picture-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  color: aliceblue;
  position: absolute;
}

.welcome-text {
  font-size: var(--h1);
  font-family: "VCR Mono";
  padding: 0 4rem 1rem 0;
}
.welcome-page p {
  margin: 1rem 3rem 2rem 3rem;
  font-size: var(--p);
  line-height: 21px;
  font-family: "Red Hat Mono";
}
.move-down {
  background: none;
  border: none;
}

/* ABOUT */
.about {
  height: 750px;
  width: 100vw;
  background-color: var(--main-color);
}

.mobile-eyes {
  padding-top: 2rem;
}
.mobile-eyes,
.mobile-hands {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.hands-container {
  width: 100vw;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.about-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 1rem;
  margin: 3rem 1rem;
  background-color: #fff;
  height: 550px;
}

.about-box h2 {
  font-size: var(--h2);
  text-align: center;
  line-height: 120%;
  font-family: "VCR Mono";
}

.about-box p {
  margin-top: 1rem;
  line-height: 120%;
  letter-spacing: 0.055em;
  padding: 0 1rem;
  font-size: 16px;
  font-family: "Red Hat Mono";
}

/* LINKS */

.link-to-lab1,
.link-to-lab2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.link-to-lab1 a,
.link-to-lab2 a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: var(--link);
  font-family: "VCR Mono";
}

.link-to-lab1 {
  background-color: var(--navbar-color);
}

.link-to-lab2 {
  background-color: var(--menu-color);
}

/* SOCIALS  */

.video h2 {
  display: flex;
  justify-content: center;
  font-size: var(--h2);
  margin: 2rem 0;
  font-family: "VCR Mono";
}

.video img {
  width: 100vw;
}

.social-page {
  height: 860px;
}

.socials {
  margin: 2rem;
  position: relative;
}

.socials h2 {
  align-items: flex-start;
  margin: 3rem 0;
  font-size: var(--link);
  font-family: "VCR Mono";
}

.socials h3 {
  font-family: "Red Hat Mono";
  font-size: var(--p);
  margin-top: 5px;
}

.facebook,
.tiktok {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.arrow-right1 {
  position: absolute;
  top: 15px;
  left: 210px;
}

.arrow-left {
  position: absolute;
  top: 170px;
  left: 90px;
}

.arrow-right2 {
  position: absolute;
  top: 310px;
  left: 180px;
}

/* TEAM */

.team {
  height: 678px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.team-img {
  width: 100%;
}

.team h2 {
  display: flex;
  justify-content: center;
  font-size: var(--h2);
  color: var(--menu-color);
  font-family: "VCR Mono";
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  background-color: #c4c4c4;
  height: 1000px;
  background-color: var(--footer-color);
}

footer h3 {
  color: #fff;
  font-size: var(--h2);
  font-family: "VCR Mono";
}

footer h4 {
  font-family: "Red Hat Mono";
  font-size: var(--p);
}

.logo-section {
  display: flex;
  justify-content: center;
}
.logo-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 200px;
  background-color: var(--white);
  width: 150px;
  height: 190px;
  margin-top: 2rem;
}

.logo {
  width: 80px;
  height: 70px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.logo-container p {
  padding-right: 1rem;
  font-size: var(--p);
  font-family: "VCR Mono";
  line-height: 27px;
}

.contact-box,
.adress {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 2rem 1rem;
}

.contact-info {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 1rem;
}

.adress {
  margin-top: 4rem;
}

.adress h3 {
  margin-bottom: 1rem;
}

.contact-button {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: var(--main-color);
  padding: 30px;
}

.contact-button a {
  color: #fff;
  text-decoration: none;
  font-size: var(--link);
  font-family: "VCR Mono";
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  height: 70px;
  background-color: #fff;
  padding: 10px;
}

.copyright p {
  font-family: "Red Hat Mono";
  font-size: var(--p-small);
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .arrow-left,
  .arrow-right1,
  .arrow-right2 {
    display: none;
  }

  .socials h2 {
    text-align: center;
  }

  .socials {
    margin-top: 4rem;
  }
  .social-page {
    height: 850px;
  }

  .all-socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .instagram {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .facebook,
  .tiktok {
    align-items: center;
  }
}
