* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MENU */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 1rem;
  background-color: lightgray;
}
.bar {
  width: 20px;
  height: 2px;
  background-color: black;
}
.menu-slide {
  transform: translateY(-100%);
  transition: transform 0.2s;
  background-color: lightgray;
  padding: 4rem 1rem;
  display: none;
}

.open {
  transform: translateY(0);
  display: block;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-direction: row;
}

.nav-items a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

/* TEXT-ROLLER  */
.roller {
  overflow: hidden;
  position: relative;
  background-color: #222;
  color: #fff;
  white-space: nowrap;
  height: 2rem;
  display: flex;
  align-items: center;
}

p {
  transform: translateX(100%);
  animation: text-roller 12s linear infinite;
}

@keyframes text-roller {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
